$baseimgurl: 'https://dmjvip.oss-cn-shenzhen.aliyuncs.com/dmj/micro';

$coupon: $baseimgurl + '/goods/coupon.png'; //券背景
$fracture: $baseimgurl + '/goods/fracture.png'; //折背景

$bubble: $baseimgurl + '/help/bubble.png'; //气泡背景

$searchBg: $baseimgurl + '/index/search-bg.png'; //搜索背景

$detailLine: $baseimgurl + '/order/detail-line.png'; //分割线

$couponBg: $baseimgurl + '/product/coupon-bg.png'; // 详情页券背景
$redPacket: $baseimgurl + '/product/redPacket.png'; // 详情页补贴icon

$popupBg: $baseimgurl + '/popup/popup-bg.png'; // 商品查询弹窗背景
$popupJD: $baseimgurl + '/popup/popup-jd.png'; // 商品查询弹窗京东
$popupPDD: $baseimgurl + '/popup/popup-pdd.png'; // 商品查询弹窗拼多多
$popupSN: $baseimgurl + '/popup/popup-sn.png'; // 商品查询弹窗苏宁
$popupWPH: $baseimgurl + '/popup/popup-wph.png'; // 商品查询弹窗唯品会

$coupon1: $baseimgurl + '/popup/coupon.png'; // 转链券背景
$couponBg1: $baseimgurl + '/popup/coupon-bg.png'; // 转链图片背景

$rectangle: $baseimgurl + '/authorize/rectangle.png'; // 矩形框背景
