$baseimgurl: 'https://dmjvip.oss-cn-shenzhen.aliyuncs.com/dmj/micro';

$coupon: $baseimgurl + '/goods/coupon.png'; //券背景
$fracture: $baseimgurl + '/goods/fracture.png'; //折背景

$bubble: $baseimgurl + '/help/bubble.png'; //气泡背景

$searchBg: $baseimgurl + '/index/search-bg.png'; //搜索背景

$detailLine: $baseimgurl + '/order/detail-line.png'; //分割线

$couponBg: $baseimgurl + '/product/coupon-bg.png'; // 详情页券背景
$redPacket: $baseimgurl + '/product/redPacket.png'; // 详情页补贴icon

$popupBg: $baseimgurl + '/popup/popup-bg.png'; // 商品查询弹窗背景
$popupJD: $baseimgurl + '/popup/popup-jd.png'; // 商品查询弹窗京东
$popupPDD: $baseimgurl + '/popup/popup-pdd.png'; // 商品查询弹窗拼多多
$popupSN: $baseimgurl + '/popup/popup-sn.png'; // 商品查询弹窗苏宁
$popupWPH: $baseimgurl + '/popup/popup-wph.png'; // 商品查询弹窗唯品会

$coupon1: $baseimgurl + '/popup/coupon.png'; // 转链券背景
$couponBg1: $baseimgurl + '/popup/coupon-bg.png'; // 转链图片背景

$rectangle: $baseimgurl + '/authorize/rectangle.png'; // 矩形框背景

$elmWm: $baseimgurl + '/takeaway/elm-wm.png'; // 饿了么-外卖
$elmGs: $baseimgurl + '/takeaway/elm-gs.png'; // 饿了么-果蔬
$mtWm: $baseimgurl + '/takeaway/mt-wm.png'; // 美团-外卖
$mtSc: $baseimgurl + '/takeaway/mt-sc.png'; // 美团-商超

$blueLine: $baseimgurl + '/takeaway/line1.png'; // 蓝色分界线
$greenLine: $baseimgurl + '/takeaway/line2.png'; // 绿色1分界线
$yellowLine: $baseimgurl + '/takeaway/line3.png'; // 黄色分界线
$greenLine2: $baseimgurl + '/takeaway/line4.png'; // 绿色2分界线

$blueDot: $baseimgurl + '/takeaway/dot1.png'; // 蓝色点
$greenDot: $baseimgurl + '/takeaway/dot2.png'; // 绿色1点
$yellowDot: $baseimgurl + '/takeaway/dot3.png'; // 黄色点
$greenDot2: $baseimgurl + '/takeaway/dot4.png'; // 绿色2点
