// 颜色定义规范

// 主基调
$color-main: #ff0134; // 主色-红
$color-main-s: #ff0065; //主色辅色
$color-deep-red: #d80230; // 深红， 用于个人中心邀请码背景

$color-orange: #fc5449; // 主色-黄
$color-orange-s: #e9983c; // 辅色-黄
$color-orange-ss: #fda541; // 辅色-黄 ， 用于订单详情btn渐变色

// 标签颜色
$color-coupon: #fcaa1b; // 淘宝-券
$color-coupon-s: #f00094; // 唯品会-券
$color-award: #ea3d54; // 奖

// 背景色
$color-bg-main: #f5f5f5; // 通用
$color-bg-pink: #fcf3f3; // 萌圈链接背景
$color-bg-grey: #f2f2f2;

// 线框颜色
$color-border-main: #f0f0f0; // 通用
$color-border-s: #dadada; // 辅色

/// 遮罩层背景色
$color-mask-bgc: rgba(37, 38, 45, 0.4);

// 文字信息
$color-dark-grey: #333;
$color-dark-grey-s: #303030;
$color-grey: #666;
$color-light-grey: #999;
$color-light-grey-s: #9a9a9a;
$color-white: #fff;

// 字体大小定义规范(实际大小应除以2)
$fontsize-large-xxxx: 46rpx;
$fontsize-large-xxx: 36rpx;
$fontsize-large-xx: 34rpx;
$fontsize-large-x: 32rpx;
$fontsize-large: 28rpx;
$fontsize-medium: 26rpx;
$fontsize-small: 24rpx;
$fontsize-small-s: 22rpx;
$fontsize-small-ss: 20rpx;

// 边框圆角大小
$radius-size-medium: 16rpx;
$radius-size-small: 8rpx;

// 图片的地址前缀
$baseImgUrl: 'https://dmjvip.oss-cn-shenzhen.aliyuncs.com/dmj/micro';
$baseImgUrl2: '../../static';
