@import 'commons/scss/iconfont.scss'; // 引入字体图标
@import 'commons/scss/common.scss'; // 引入线上背景图

[class*='ic-'] {
  font-family: 'iconfont' !important;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-style: normal;
}

// 公共参数
$blue: linear-gradient(to bottom right, #6a9ef8, #a379f2);
$fblue: linear-gradient(to bottom right, #a379f2, #6a9ef8);
$red: #ee2325;
$fred: rgba(255, 0, 0, 0.3);
$cblue: #6a9ef8;

.av,
.btn {
  //点击效果
  position: relative;
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: scale(1);
  }
  &:active {
    overflow: hidden;
    &::after {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

//常用动画
@keyframes anUp {
  //升起
  0% {
    opacity: 0;
    transform: translate3d(0, 300rpx, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes anDown {
  //下降
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 300rpx, 0);
  }
}
@keyframes anFadeIn {
  //淡入
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anFadeOut {
  //淡出
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  //眨眼
  0% {
    transform: scaleY(1);
  }
  70% {
    transform: scaleY(1);
  }
  85% {
    transform: scaleY(0.14);
  }
  100% {
    transform: scaleY(1);
  }
}

//按钮
.btn {
  display: inline-block;
  vertical-align: top;
  background: #eee;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

page {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

// 公用样式
.left {
  float: left;
}
.right {
  float: right;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
button::after {
  border-radius: 0;
  border: 0;
}
.foot-isIpx {
  height: 160rpx !important;
}

//一个像数问题解决
@mixin bor1($color, $bor) {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    border-color: $color;
    border-width: $bor;
    transform: scale(0.5);
    transform-origin: left top;
    box-sizing: border-box;
    pointer-events: none;
  }
}
.bor1 {
  @include bor1('#eee', '');
}

//浮动清除
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

//文字超出隐藏
.overflow,
.overflow2,
.overflow3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: box;
  line-clamp: 1;
  box-orient: vertical;
}
.overflow2 {
  line-clamp: 2;
}
.overflow3 {
  line-clamp: 3;
}

@keyframes openShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes openConShow {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
.appOpen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999 !important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.3s;
  animation: openShow 0.2s;

  &.shadeFalse {
    //不显示蒙版
    pointer-events: none;
    background: none;
  }
  &.false {
    //不显示
    opacity: 0;
  }
  &.event {
    pointer-events: all !important;
    z-index: 1000;
    .openCon {
      transition: none;
    }
  }
  &.msg {
    //消息弹窗
    z-index: 9999999;
    .openCon {
      width: auto;
      max-width: 300px;
      text-align: center;
      padding: 6px 10px;
      line-height: 24px;
      background-color: rgba(0, 0, 0, 0.6);
      .content {
        color: #fff;
      }
    }
  }
  &.formMsg {
    //表单内数据错误提示
    position: static;
    .openCon {
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      bottom: auto;
      right: auto;
    }
  }
  &.confirm {
    //询问框
    .content {
      padding: 15rpx !important;
      text-align: center;
    }
  }
  &.fullLoading,
  &.full {
    //满屏加载中
    .openCon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: anFadeIn 0.2s;
      border-radius: 0;
      max-height: inherit !important;
    }
  }
  &.loading {
    //加载中
    .openCon {
      display: flex;
      justify-content: center;
      align-items: center;
      // text-align: center;
      width: 220rpx;
      height: 250rpx;
      // padding: 14rpx 0;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  &.again {
    //重新加载
    .c {
      bottom: 50% !important;
      margin-bottom: -100rpx;
    }
  }
  // &.position{//固定位置
  //     position: absolute;
  // }
  .openBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .openCon {
    box-sizing: border-box;
    pointer-events: all;
    margin: auto;
    border-radius: 18rpx;
    padding: 30rpx 0;
    z-index: 999;
    width: 430rpx;
    background: #fff;
    box-shadow: 0 2px 20rpx rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    animation: openConShow 0.2s;
    position: relative;
    color: #333;
    & > .appForm,
    & > .content {
      padding: 0 30rpx;
      box-sizing: border-box;
      max-height: 75vh;
      line-height: 1.6;
      font-size: 28rpx;
      color: #333;
    }
    & > .tit {
      text-align: center;
      margin: -20rpx 0;
      margin-bottom: 0;
      .t {
        padding: 20rpx 0;
        font-size: 34rpx;
        line-height: 1;
      }
      cursor: grab;
      user-select: none;
      &:active {
        cursor: grabbing;
      }
    }
    & > .a {
      height: 80rpx;
      user-select: none;
      .c {
        position: absolute;
        width: 100%;
        bottom: 30rpx;
        left: 0;
        text-align: center;
        padding-top: 20rpx;
        cursor: default;
      }
      .btn {
        min-width: 130rpx;
        padding: 0 20rpx;
        line-height: 60rpx;
        text-align: center;
        height: 60rpx;
        border-radius: 10rpx;
        margin: 0 10rpx;
        font-size: 30rpx;
        &.yes {
          background: $red;
          color: #fff;
        }
      }
    }
    .titleEsc {
      //右上角关闭按钮
      position: absolute;
      top: 10rpx;
      right: 10rpx;
      border-radius: 50%;
      font-size: 30rpx;
      line-height: 30rpx;
      padding: 15rpx;
      color: #ccc;
    }
    .closeBtn {
      // 无标题时关闭按钮
      position: absolute;
      top: 10rpx;
      right: 10rpx;
      border-radius: 50%;
      font-size: 30rpx;
      line-height: 30rpx;
      padding: 15rpx;
      color: #ccc;
    }
  }
  &.notMove {
    //不可拖动
    .con > .tit {
      cursor: default;
    }
  }
}

@keyframes loading {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading {
  min-height: 40rpx;
  line-height: 40rpx;
  padding: 20rpx 0;
  font-size: 30rpx;
  text-align: center;
  color: #999;
  z-index: 999999999999;

  &.full {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    animation: login 0.5s;
    display: flex;
    & > view {
      margin: auto;
    }
  }
  &.full.hide {
    opacity: 0;
    animation: hide 0.2s;
  }
  &.more {
    background-color: #fff;
    border-radius: 30px;
    line-height: 70rpx;
    height: 70rpx;
    margin: 30rpx auto;
    width: 360rpx;
    padding: 0;
    &:active {
      background-color: #ddd;
      color: #333;
    }
    .next {
      line-height: 70rpx;
    }
    .load {
      padding-top: 20rpx;
    }
  }

  & > view {
    text-align: center;
    display: block;
    margin: auto;
  }

  .i {
    display: inline-block;
    vertical-align: top;
    width: 14rpx;
    height: 14rpx;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.14);
    margin: 5rpx;
    animation: loading 1.2s ease-in-out infinite;
    transform: scale(0);
  }
  .i:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .i:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .loadong-img {
    width: 200rpx;
    height: auto;
  }
}

.appNotData {
  .notContent {
    text-align: center;
    font-size: 28rpx;
    color: #999;
    padding: 20rpx 0;
    .iconempty {
      display: block;
      font-size: 60rpx;
      margin-bottom: 15rpx;
      color: #ccc;
    }
  }
}

//绝对定位后退按钮
.back-btn-box {
  position: fixed;
  left: 30rpx;
  top: 16rpx;
  z-index: 999999;
  .back-btn {
    position: relative;
    bottom: 0;
    width: 54rpx;
    height: 54rpx;
    border-radius: 50%;
    background-color: rgba(45, 45, 45, 0.6);
    overflow: hidden;
  }

  .back-btn view {
    font-size: 36rpx;
    box-sizing: border-box;
    padding-left: 8rpx;
    height: 54rpx;
    width: 54rpx;
    line-height: 54rpx;
    color: #fff;
  }
}

.againCon {
  position: absolute;
  top: 50%;
  font-size: 28rpx;
  margin-top: -150rpx;
  width: 100%;
  left: 0;
  text-align: center;
  color: #666;
}

//眨眼睛的笑脸
.smile {
  font-size: 100rpx;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  margin-bottom: 15rpx;
  color: #666;
  position: relative;
  .d {
    position: absolute;
    width: 50%;
    top: 30rpx;
    background-color: #fff;
    height: 22rpx;
    left: 23%;
    &:before,
    &:after {
      content: '';
      width: 12rpx;
      height: 16rpx;
      background-color: #666;
      position: absolute;
      border-radius: 50%;
      left: 8rpx;
      animation: blink 1.4s infinite;
      transform-origin: 50% 70%;
    }
    &:after {
      left: initial;
      right: 2rpx;
    }
  }
}

.shareBottom {
  //分享底部弹窗
  .openCon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 232rpx;
    text-align: center;
    padding: 25rpx 0;
    animation: anUp 0.3s;
    border-radius: 16rpx 16rpx 0 0;

    .flex {
      display: flex;
    }
    .li {
      display: inline-block;
      background: none;
      vertical-align: top;
      width: 190rpx;
      height: 190rpx;
      box-sizing: border-box;
      padding-top: 6rpx;
      border-radius: 30rpx;
      margin: 0 80rpx;
      icon {
        width: 130rpx;
        height: 130rpx;
        display: inline-block;
        vertical-align: top;
      }
      text {
        display: block;
        line-height: 30rpx;
        margin-top: 0;
        font-size: 24rpx;
        color: #333;
      }
    }
  }

  &.max {
    //分享至朋友圈弹窗
    .openCon {
      height: 985rpx;
      // .titleEsc {
      //   // background-color: #999;
      //   // color: #fff;
      //   color: #999;
      //   font-size: 50rpx;
      //   line-height: 30rpx;
      //   top: 20rpx;
      //   right: 20rpx;
      //   padding: 10rpx;
      // }
      .closeBtn {
        // background-color: #999;
        // color: #fff;
        color: #999;
        font-size: 50rpx;
        line-height: 30rpx;
        top: 20rpx;
        right: 20rpx;
        padding: 10rpx;
      }
      .t {
        text-align: left;
        font-size: 30rpx;
        padding: 30rpx 0 0 30rpx;
        line-height: 30rpx;
        height: 30rpx;
      }
      .close-box {
        position: absolute;
        right: 22rpx;
        top: 22rpx;
        width: 36rpx;
        height: 36rpx;
        padding: 6rpx;
        .ic-close {
          font-size: 24rpx;
          color: #999;
        }
      }
      .img {
        // box-shadow: 0 5rpx 26rpx rgba(0, 0, 0, 0.14);
        margin: 15rpx auto 25rpx;
        width: 450rpx;
        image {
          width: 450rpx;
          height: 800rpx;
          display: block;
        }
      }
      .save {
        display: block;
        width: 450rpx;
        height: 80rpx;
        margin: 0 auto;
        line-height: 80rpx;
        background: linear-gradient(-90deg, #fd3c43 0%, #fc6682 100%);
        border-radius: 40rpx;
        color: #fff;
        font-size: 36rpx;
      }
      text {
        display: block;
        font-size: 24rpx;
        color: #666;
        line-height: 1;
        padding-top: 20rpx;
      }
    }
  }
}

.point {
  .openCon {
    width: 514rpx;
    border-radius: 40rpx;
    text-align: center;
    .a {
      .btn {
        width: 240rpx;
        height: 88rpx;
        line-height: 88rpx;
        border-radius: 44rpx;
        &.yes {
          background: linear-gradient(to bottom, #fffbae, #f9d451);
          color: #9a4e0a;
        }
      }
    }
  }
  .title {
    margin-top: 120rpx;
    line-height: 56rpx;
    font-size: 36rpx;
    color: #c4a01e;
  }
  image {
    position: absolute;
    top: -90rpx;
    left: 50%;
    transform: translateX(-50%);
    width: 180rpx;
    height: 180rpx;
  }
  .note {
    display: block;
    margin-top: 36rpx;
    margin-bottom: 82rpx;
    padding: 0 24rpx;
    font-size: 24rpx;
    color: #999;
  }
}

.download {
  .openCon {
    width: 510rpx;
    border-radius: 40rpx;
    text-align: center;
    .a {
      display: none;
    }
  }
  .logo {
    position: absolute;
    top: -90rpx;
    left: 50%;
    transform: translateX(-50%);
    width: 180rpx;
    height: 180rpx;
  }
  .gif-img {
    width: 446rpx;
    height: 374rpx;
    margin-top: 100rpx;
  }
  .download-btn {
    width: 392rpx;
    height: 72rpx;
    margin-top: 32rpx;
    background: linear-gradient(-85deg, #fd3c44 0%, #fc6682 100%);
    border-radius: 36rpx;
    font-size: 30rpx;
    font-weight: bold;
    color: #fff;
    // line-height: 36rpx;
  }
  .close-box {
    position: absolute;
    bottom: -130rpx;
    left: 50%;
    transform: translateX(-50%);
    .ic-shut {
      font-size: 60rpx;
      color: #fff;
    }
  }
}

.productSearch {
  .openCon {
    width: 574rpx;
    height: 738rpx;
    background-image: url($popupBg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    .a {
      display: none;
    }
  }
  .title {
    // width: 423rpx;
    margin-top: 156rpx;
    font-size: 30rpx;
    font-weight: 500;
    color: #333;
  }
  .text {
    width: 423rpx;
    margin: 49rpx auto 0;
    // height: 167rpx;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 24rpx;
    font-weight: 500;
    color: #666666;
    line-height: 36rpx;
    text-align: left;
  }
  .logo-wrapper {
    position: absolute;
    left: 33rpx;
    right: 33rpx;
    bottom: 40rpx;
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 140rpx 0 0;
    .logo {
      width: 96rpx;
      height: 96rpx;
      .logo-img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .close-box {
    position: absolute;
    bottom: -130rpx;
    left: 50%;
    transform: translateX(-50%);
    .ic-shut {
      font-size: 60rpx;
      color: #fff;
    }
  }
}

.intellectSearch {
  .openCon {
    width: 598rpx;
    height: 561rpx;
    padding: 221rpx 45rpx 0;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    background-image: url($couponBg1);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    .a {
      display: none;
    }
  }
  .goods {
    display: flex;
    // width: 423rpx;
    width: 100%;
    .goods-img {
      width: 166rpx;
      height: 166rpx;
    }
    .goods-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 166rpx;
      margin-left: 24rpx;
      .goods-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 26rpx;
        font-weight: bold;
        color: #333;
        line-height: 28rpx;
        text-align: left;
      }
      .coupon-info {
        display: flex;
        .coupon {
          width: 99rpx;
          height: 32rpx;
          padding-left: 32rpx;
          margin-right: 12rpx;
          background-image: url($coupon1);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          font-size: 20rpx;
          font-weight: 500;
          color: #ffffff;
          line-height: 32rpx;
          text-align: center;
        }
        .prize {
          // width: 108rpx;
          height: 32rpx;
          padding: 0 12rpx;
          background: #f7f0f4;
          border-radius: 5rpx;
          font-size: 20rpx;
          font-weight: 500;
          color: #ee292a;
          line-height: 32rpx;
          text-align: center;
        }
      }
      .price {
        display: flex;
        align-items: flex-end;
        font-size: 24rpx;
        font-weight: 500;
        color: #ee2325;
        line-height: 30rpx;
        .sign {
          font-size: 22rpx;
          line-height: 26rpx;
        }
        .num {
          font-size: 36rpx;
          font-weight: bold;
          line-height: 38rpx;
        }
      }
    }
  }
  .btn-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50rpx;
    .btn1 {
      width: 224rpx;
      height: 64rpx;
      margin-right: 30rpx;
      background: #ffffff;
      border: 1rpx solid #fe522b;
      border-radius: 32rpx;
      font-size: 30rpx;
      font-weight: 500;
      color: #fe522b;
      line-height: 62rpx;
    }
    .btn2 {
      width: 224rpx;
      height: 64rpx;
      background: linear-gradient(114deg, #ff5e65 0%, #f63131 100%);
      border-radius: 32rpx;
      font-size: 30rpx;
      font-weight: 500;
      color: #ffffff;
      line-height: 62rpx;
    }
  }
  .close-box {
    position: absolute;
    bottom: -130rpx;
    left: 50%;
    transform: translateX(-50%);
    .ic-shut {
      font-size: 60rpx;
      color: #fff;
    }
  }
}

.pddAuthorize {
  .openCon {
    width: 626rpx;
    height: 800rpx;
    padding: 65rpx 46rpx 0;
    text-align: center;
    .a {
      display: none;
    }
  }
  .title {
    width: 253rpx;
    height: 35rpx;
    font-size: 36rpx;
    font-weight: bold;
    color: #333333;
    line-height: 36rpx;
  }
  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 480rpx;
    height: 202rpx;
    margin-top: 60rpx;
    background: #f9f2f2;
    border-radius: 20rpx;
    .logo {
      width: 132rpx;
      height: 132rpx;
    }
    .arrow {
      width: 77rpx;
      height: 46rpx;
    }
  }
  .desc {
    width: 449rpx;
    height: 73rpx;
    margin-top: 20rpx;
    font-size: 26rpx;
    font-weight: bold;
    color: #999999;
    line-height: 48rpx;
    text-align: left;
  }
  .authorize-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 46rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 521rpx;
    height: 82rpx;
    border-radius: 45rpx;
    box-shadow: 2px 2px 4px rgba($color: #fda541, $alpha: 0.3);
    background: linear-gradient(to bottom, #fda541 0%, #fc5449 100%);
    font-size: 30rpx;
    font-weight: bold;
    color: #ffffff;
  }
}

.warning {
  .openCon {
    width: 574rpx;
    height: 626rpx;
    padding: 126rpx 46rpx 0;
    text-align: center;
    .a {
      display: none;
    }
  }
  .logo {
    position: absolute;
    top: -140rpx;
    left: 50%;
    transform: translateX(-50%);
    width: 293rpx;
    height: 261rpx;
  }
  .title {
    font-size: 48rpx;
    color: #333333;
    line-height: 30rpx;
  }
  .advise {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 435rpx;
    height: 62rpx;
    margin-top: 30rpx;
    background-image: url($rectangle);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 28rpx;
    color: #fa474a;
    line-height: 30rpx;
  }
  .desc {
    margin-top: 36rpx;
    font-size: 30rpx;
    font-weight: 400;
    color: #666666;
    line-height: 48rpx;
    text-align: left;
    text {
      color: #fb0331;
    }
  }
  .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 48rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450rpx;
    height: 90rpx;
    background: linear-gradient(90deg, #f63131 0%, #ff5e64 100%);
    border-radius: 46rpx;
    font-size: 32rpx;
    font-weight: 500;
    color: #ffffff;
    line-height: 40rpx;
  }
}

.warn {
  .openCon {
    width: 514rpx;
    border-radius: 40rpx;
    text-align: center;
    & > .tit {
      margin-top: 140rpx;
      margin-bottom: 80rpx;
      line-height: 56rpx;
      .t {
        font-size: 36rpx;
        color: #c4a01e;
      }
    }
    .a {
      .btn {
        width: 240rpx;
        height: 88rpx;
        line-height: 88rpx;
        border-radius: 44rpx;
        &.yes {
          background: linear-gradient(to bottom, #fffbae, #f9d451);
          color: #9a4e0a;
        }
      }
    }
  }
  image {
    position: absolute;
    top: -64rpx;
    left: 50%;
    transform: translateX(-50%);
    width: 180rpx;
    height: 180rpx;
  }
}
